
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

#inputSize {
    width: 500px;
    margin-top: 100px;
}

.container-sm {
    background-color: rgb(254, 251, 183);
    height: auto;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list-group-item {
    background-color: rgb(254, 251, 183);
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.todo-counter {
    font-style: italic;
    padding-top: 5px;
    
}